{% extends 'base.html' %}
{% load static %}

{% block content %}

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<div class="container">
    <h1 style="margin-top: 30px;" class="text-center"> Atividades !</h1>
    <br>
    <form action="{% url 'atividades' %}" class="dropzone" id="my-great-dropzone">
        {% csrf_token %}
    </form>

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-primary btn-block w-100 mb-1" id="clear-dropzone">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                    Limpar
                </button>
            </div>
            <div class="col text-center">
                <button class="btn btn-outline-success w-100" id="submit-file">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    Corrigir
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // https://stackoverflow.com/questions/49391687/render-current-status-only-on-template-in-streaminghttpresponse-in-django
    $('#submit-file').click(function(){
        $.ajax({
            url: "/atividades", //{% url 'atividades' %}
            data: {'process_script': 1},
            xhrFields: {
                onprogress: function (e) { 
                    console.log(e);
                }
            },
            dataType: "text", 
            done: function(data){
                console.log(data);
                alert(done);
            },
            success: function(response){
                console.log(response)
            },
        });
    });

    Dropzone.options.myGreatDropzone = { 
        paramName: "file", 
        maxFilesize: 2, // MB
        acceptedFiles: ".py",
        dictDefaultMessage: "Arraste o script *.py aqui",
        dictFallbackMessage: "Erro do browser. Utilize Mozilla ou Chrome",
        dictInvalidFileType: "O tipo do arquivo não está correto",
        accept: function(file, done) {
            if (file.name == "justinbieber.jpg") {
                done("Naha, you don't.");
            }
            else { done(); }
        },

        init: function() {
                this.on("sending", function(file) {
                console.log('Sending the file' +  file.name)
                var _this = this;
                $('#clear-dropzone').click(function(){
                    _this.removeAllFiles();
                });
            });
        }
    }
</script>

{% endblock %}