{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
    <h1 class="mt-4 mb-4 text-center" style="color: var(--strongaccent)">
        {{dados.name}}
    </h1>
    <h2 class="mt-4 mb-4">
        {{dados.short_description}}
    </h2>
    {% if dados.long_description %}
        <h3 class="mt-4 mb-4">
            {{dados.long_description}}
        </h3>
    {% endif %}
    <h3>Status: {{status}}</h3>

    <h3 class="text-center mt-5 text-primary"> Deadlines </h3>
    <div class="container">
        <div class="row">
            {% for a in atividades %}
            <div class="card col-lg-10 col-sm-10 mt-2 mb-2 mr-2 ml-2">
                <div class="card-body">
                    <h5>{{a.end_date}}</h5>
                    <h6> {{a.name}} </h6>
                    <a class="btn btn-success mb-3" href="{% url 'submit' %}" role="button">Submeter resposta</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}