{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
    <h1 class="mt-4 mb-4 text-center" style="color: var(--strongaccent)">
        {{dados.name}}
    </h1>
    <h2 class="mt-4 mb-4">
        {{dados.short_description}}
    </h2>
    {% if dados.long_description %}
        <h3 class="mt-4 mb-4">
            {{dados.long_description}}
        </h3>
    {% endif %}
    <h3>Status: {{status}}</h3>

    <h4>Deadlines</h4>
    <div class="container">
        <div class="row">
            {% for a in atividades %}
            <div class="card col-lg-4 col-sm-6 mt-2 mb-2 mr-2 ml-2">
                <div class="card-body">
                    <h4> {{a.name}} </h4>
                    <p>Data de entrega: {{a.end_date}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}