{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Reset do Password</h2>
    <hr>
    <p>Esqueceu a sua senha? Coloque o e-mail utilizado e enviaremos informações para criar uma nova.</p>
    <p>Caso o e-mail não chegar em alguns minutos, verifique na caixa de span </p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}              
        <button class="btn btn-primary" type="submit">Send email</button>
    </form>
</div> 

{% endblock %}