{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container rounded mt-5 mb-5">
    <h4 class="text-center container">Cadastre-se </h4>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row container">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFile" name="profile_pic">
                </div>
            </div>
            <div class="col-md-8 border-right">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color: red;">* {{error}}</p>
                    {% endfor %}
                {% endfor %}
                <div class="row mt-3">     
                    <div class="col-md-12"><label class="labels">Username<span style="color:red;">*</span></label><input type="text" name="username" class="form-control" value=""></div>
                </div>
                <div class="row mt-3">     
                    <div class="col-md-12"><label class="labels">Nome<span style="color:red;">*</span></label><input type="text" name="first_name" class="form-control" value=""></div>
                </div>
                <div class="row mt-3">     
                    <div class="col-md-12"><label class="labels">Sobrenome<span style="color:red;">*</span></label><input type="text" name="last_name" class="form-control"  value=""></div>
                </div>
                <div class="row mt-3">     
                    <div class="col-md-12"><label class="labels">Email<span style="color:red;">*</span></label><input type="text" name="email" class="form-control" value=""></div>
                </div>
                <div class="row mt-3">     
                    <div class="col-md-12"><label class="labels">RA<span style="color:red;">*</span></label><input type="text" name="RA" class="form-control" value=""></div>
                </div>
                <div class="row mt-3">     
                    <div class="col-md-12"><label class="labels">Senha<span style="color:red;">*</span></label><input type="password" name="password1" class="form-control" value=""></div>
                </div>
                <div class="row mt-3">     
                    <div class="col-md-12"><label class="labels">Digite novamente<span style="color:red;">*</span></label><input type="password" name="password2" class="form-control" value=""></div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" id="atualizar" type="button submit">Atualizar perfil</button>
                </div>
                <br>
            </div>
        </div>
    </form>
</div>


{% endblock %}