{% extends 'base.html' %} {% load static %} {% block content %}

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<div class="container">
    <h1 style="margin-top: 30px;" class="text-center"> Submeter Atividade</h1>
    <br>
    <form action="{% url 'submit' %}" class="dropzone" id="my-great-dropzone">
        {% csrf_token %}
    </form>

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-primary btn-block w-100 mb-1" id="clear-dropzone">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                    Limpar
                </button>
            </div>
            <div class="col text-center">
                <button class="btn btn-outline-success w-100" id="submit-file">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    Corrigir
                </button>
            </div>
        </div>
    </div>

    <div class="mt-3 mb-3">
        <div class="progress d-none" id="progress-all">
            <div class="progress-bar bg-success visible" id="progressbar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <table class="table table-hover d-none" id="resultstable">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Função</th>
                <th scope="col">Informações</th>
                <th scope="col">% Acertos</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


</div>

<script>
    $(document).ready(function() {
        // $('#progress-all').toggleClass('visible');
    });

    function clear_results() {
        $('#progress-all').addClass('d-none');
        $('#resultstable').addClass('d-none');
        $('#resultstable tbody td').remove()
        $('.progress-bar').css('width', 0 + '%').attr('aria-valuenow', 0);
    }

    $('#clear-dropzone').click(function() {
        clear_results();
    });

    $('#submit-file').click(function() {
        $('#progress-all').removeClass('d-none');
        $('#resultstable').removeClass('d-none');
        $('.progress-bar').css('width', 0 + '%').attr('aria-valuenow', 0);
        var partial_data = '';
        $.ajax({
            url: "/submit",
            data: {
                'process_script': 1
            },
            xhrFields: {
                onprogress: function(e) {
                    var full_data = e.currentTarget.response;
                    if (full_data.length > 0) {
                        var new_data = full_data.replace(partial_data, '');
                        data = JSON.parse(new_data);
                        console.log('full: ' + full_data);
                        console.log('partial ' + partial_data);
                        console.log('new ' + new_data);
                        console.log('eval ' + data);
                        console.log('---------------------')
                        if ('value' in data) {
                            $('.progress-bar').css('width', 10 * parseInt(data['value']) + '%').attr('aria-valuenow', 10 * parseInt(data['value']));
                            var row = $("<tr><td>1</td><td>E</td><td>E</td><td>E</td></tr>");
                            $('#resultstable tbody').append(row);
                        }
                        partial_data = full_data;
                    }
                }
            },
            dataType: "text",
            success: function(response) {
                // console.log(response)
            },
        });
    });

    Dropzone.options.myGreatDropzone = {
        paramName: "file",
        maxFilesize: 2, // MB
        acceptedFiles: ".py",
        dictDefaultMessage: "Arraste o script *.py aqui",
        dictFallbackMessage: "Erro do browser. Utilize Mozilla ou Chrome",
        dictInvalidFileType: "O tipo do arquivo não está correto",
        accept: function(file, done) {
            if (file.name.includes(" ")) {
                done("Não coloque espaço ou caracteres especiais no script");
            } else {
                done();
            }
        },
        init: function() {
            this.on("sending", function(file) {
                console.log('Sending the file' + file.name)
                var _this = this;
                $('#clear-dropzone').click(function() {
                    _this.removeAllFiles();
                });
            });
        }
    }
</script>

{% endblock %}