/* //https://colorhunt.co/palette/2f5d625e8b7ea7c4bcdfeeea */

body, .container{
    background: #ddebe7 no-repeat center center fixed;
}

.navbar {
    background-color: #5E8B7E;
}

.container-inside {
  background: #ddebe7;
}

html {
    /* default font-size is 16px - this is set in the default browser stylesheet */ 
    font-size: 20px; 
    font-weight: 400; 
    line-height: 1.5; 
  } 
   
  /* Increase all font sizes on mobile */ 
  @media (max-width: 767px) { 
    html { 
      /* default is 1rem or 16px */ 
      font-size: 25px; 
    } 
  }